section.about(data-scroll-section)
  .container
    .about-container
      .about-image
        img( alt="", srcset="./images/img-about.png 2x")
      .about-content
        h3.caption About us
        h2.heading.about-heading Wanna know About MidBank Mobile Banking
        p.text We operate our banking services in many countries around the world.
        p.text Mobile banking is the act of making financial Money transactions on a mobile device (cell phone, tablet, etc.).
        p.text This activity can be as simple as a bank sending fraud or usage activity to a client’s cell phone or as complex as a clientpaying bills or sending money abroad.
        a.about-more Learn more