section.cta
  img.cta-circle(srcset="./images/left-circle-blur.png 2x", alt="")
  .container
    .cta-container
      .cta-content
        h2.heading Secure way to Buy and Sell from Your Mobile App
        p.text Gemini is a licensed New York trust company that mnday underregular bank exams and is subject to the cybersecurity audits conducted by the New York.
        .cta-links
          a.cta-link.app-store(href="#!")
            img(srcset="./images/icon-appstore.png 2x", alt="")
            span App Store
          a.cta-link.play-store(href="#!")
            img(srcset="./images/icon-playstore.png 2x", alt="")
            span Play Store
      .cta-image
        img(srcset="./images/img-cta.png 2x", alt="")
