footer.footer
  .container
    .footer-container
       .footer-column
        img(srcset="./images/logo.png 2x", alt="").logo
        p.text We operate our banking services in many countries around the world.
        .footer-social
          a.social-item(href="#!")
            ion-icon(name="logo-facebook")
          a.social-item(href="#!")
            ion-icon(name="logo-google")
          a.social-item(href="#!")
            ion-icon(name="logo-twitter")
          a.social-item(href="#!")
            ion-icon(name="logo-dribbble")
       .footer-column
        h3.footer-heading Product
        ul.footer-links
          li.footer-link
            a(href="#!") Careere
          li.footer-link
            a(href="#!") About Us
          li.footer-link
            a(href="#!") Insights
          li.footer-link
            a(href="#!") PCI Compliance
          li.footer-link
            a(href="#!") Integratlons
       .footer-column
          h3.footer-heading Service
          ul.footer-links
            li.footer-link
              a(href="#!") Careere
            li.footer-link
              a(href="#!") About Us
            li.footer-link
              a(href="#!") Insights
            li.footer-link
              a(href="#!") PCI Compliance
            li.footer-link
              a(href="#!") Integratlons
       .footer-column
          h3.footer-heading FAQ
          ul.footer-links
            li.footer-link
              a(href="#!") Careere
            li.footer-link
              a(href="#!") About Us
            li.footer-link
              a(href="#!") Insights
            li.footer-link
              a(href="#!") PCI Compliance
            li.footer-link
              a(href="#!") Integratlons
  .copy-right
    .container
      .copy-right-container
        p &copy; 2021 MidBank Mobile Banking I All Rights Reserved
        .links
          a(href="#!") Platform
          a(href="#!") Products
          a(href="#!") Resources