header.header(data-scroll-section)
  img(src="./images/img-bgblur.png", alt="", srcset="./images/img-bgblur.png 2x").header-bg-blur
  .container
    .header-top
      img(src="./images/logo.png", alt="midbank", srcset="./images/logo.png 2x")
      ul.menu
        li.menu-item
          a.menu-link(href="#!") Product
        li.menu-item
          a.menu-link(href="#!") About
        li.menu-item
          a.menu-link(href="#!") FAQ
        li.menu-item
          a.menu-link(href="#!") Service
        li.menu-item
          a.menu-link(href="#!") Blog
      a.header-signin(href="#!")
        span Sign in
        img(src="./images/icon-arrow-right.svg", alt="icon")
      span.menu-toggle Menu
    .header-bottom
      .header-image
        .header-card
          img(srcset="./images/img-mastercard.png 2x", alt="")
        .header-circle
          img(srcset="./images/img-headerbg.png 2x", alt="")
      .header-content
        h1.header-heading Stronger Banking, Greater Service
        p.header-desc Get the most accurate market data, alerts, conversions, tools and more — all within the same app.
        .header-actions
          a.header-start(href="#!") Start Transaction
          a.header-download(href="#!")
            img(srcset="./images/icon-download.png 2x", alt="")
            span Download App