section.service
  img.service-circle(srcset="./images/right-circle-blur.png 2x", alt="")
  .container
    .service-header
      h3.caption Service
      h2.heading Choose Best Service  from Our List
      p.text We operate our banking services in many countries around the world.
    .service-list
      +serviceItem("./images/icon-loan.png 2x", "Personal Loan", `We realize ideas from simple toomplex.`)
      +serviceItem("./images/icon-business.png 2x", "Business Loan", `We realize ideas from simple toomplex.`)
      +serviceItem("./images/icon-deposit.png 2x", "Online Deposit", `We realize ideas from simple toomplex.`)
      +serviceItem("./images/icon-mobile.png 2x", "Mobile Banking", `We realize ideas from simple toomplex.`)
      +serviceItem("./images/icon-credit.png 2x", "Credit Card", `We realize ideas from simple toomplex.`)
      +serviceItem("./images/icon-education.png 2x", "Education Loan", `We realize ideas from simple toomplex.`)