section.subscribe
  .container
    .subscribe-container
      h2.heading Subscribe Newsletter
      p.text We operate our banking services in many countries around the world.
      .subscribe-form
        .subscribe-field
          input(type="email" placeholder="Enter your email").subscribe-input
        button.subscribe-button Get Started