section.testimonial
  .container
    .testimonial-container
      .testimonial-image
        img(srcset="./images/img-man.png 2x", alt="")
      .testimonial-content
        h3.caption Testimonial
        h2.heading Love of Our Customers
        p.text We operate our banking services in many countries around the world.
        img(srcset="./images/icon-quote.png 2x", alt="").testimonial-quote
        p.text In promotion and advertising, a testimonial or show consists of a person's written or spoken statement extolling the virtue of a product. The term "testimonial" most commonly applies to the sales-pitches attributed to ordinary citizens, whereas the word "endorsement" usually applies to pitches by celebrities.
        h4.testimonial-author Justin Pierre 🤩
        span.testimonial-job UX/UI Derigner
