section.work(data-scroll-section)
  .container
    .work-list
      +workItem("./images/icon-acount.png 2x","Create an Account", "We realize ideas from simple toomplex.")
      +workItem("./images/icon-card.png 2x","Attach Master Card", "We realize ideas from simple toomplex.")
      +workItem("./images/icon-send.png 2x","Send Money", "We realize ideas from simple toomplex.")